main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teams-data{
    background-color: #523634;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    gap: 40px;
    padding: 20px;
    width: 75%;
}
.navigate{
    display: flex;
    justify-content: center;
    flex-direction: row;
}